@media screen and (min-width:960px) {

    header {

        >a {
            width: 10%;
        }

        nav {
            margin-right: 2em;

            .burger {
                font-size: 2em;
            }
        }
    }
    .burger {

        .blocMenu {
            width: 30%;
            height: 60vh;
            border-left: 4px solid orange;
            border-bottom: 4px solid orange;

            ul {
                gap: 0.5em;

                li {
                    font-size: 0.7em;
                }
            }
        }
    }


    .container {

        .grid-carte {

            article {
                width: calc((100% - 4.5em) / 4);

                div {

                    h2 {
                        font-size: 1em;
                    }

                    p {
                        font-size: 1em;
                    }

                    a {
                        font-size: 1em;
                    }
                }
            }
        }
    }
    .signup-page {
        // connexion page 
        display: flex;

        img {
            width: 70%;
            height: 30em;
            object-fit: cover;
        }

        article {
            width: 30%;

            form {
                width: 100%;
                height: 100%;

                h2 {
                    text-align: center;
                    margin-bottom: 2em;
                }

                label {

                    .bob {
                        color: red;
                    }
                }

                input {
                    padding: 10px;
                    border: 0;
                }

                .buttonEmail {
                    text-align: center;
                    padding: 20px;
                    background-color: orange;
                    color: black;
                    border: 0;
                    border-radius: 0.8em;
                }

                .signin {
                    display: flex;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: smaller;
                    gap: 0.7em;

                    a {
                        color: black;
                    }
                }
            }
        }
    }
    .container-a-propos {
        width: 95%;
        margin: 0 auto;
        margin-top: 2.5%;
        margin-bottom: 2.5%;


        .histoire {

            h2 {
                margin-left: 5em;
                margin-right: 5em;
                font-size: 30px;
            }
            article {
                p {
                    font-size: 20px;
                }
            }
        }

        .galerie {
            margin-top: 1em;
            display: flex;
            flex-direction: row;
            gap: 0.5em;
            justify-content: space-between;
            object-fit: cover;


            .burger1 {

                width: 35%;
                display: flex;
                flex-direction: row;


                img {
                    width: 100%;
                }
            }

            .flex-article {
                display: flex;
                flex-direction: row;
                gap: 0.5em;
                width: 70%;

            }
        }


        .mission {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;

            h2 {
                margin-left: 5em;
                margin-right: 5em;
                font-size: 30px;
                width: 100%;
            }

            img {
                width: 35%;
            }

            .objectif {
                display: flex;
                flex-direction: column;
                width: 55%;
                justify-content: center;

                p {
                    font-size: 20px;
                    width: 100%;
                }


            }
        }
    }
    .backWhite {
        .sectMenu {
            article {
                width: calc((100% - 2em) / 3);
            }
        }
    }
    .container-contact {
        .contain {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 1em;
            align-items: flex-start;

            h1 {
                width: 100%;
            }

            img {
                margin-top: 1.5em;
                width: 35%;
            }

            .contact {
                display: flex;
                flex-direction: column;
                width: 55%;
                justify-content: space-between;
            }
        }
    }
    .error {
        div:last-of-type {
            margin-top: 6em;
            width: 30%;
            margin-left: auto;
            margin-right: auto;
            img {
                width: 100%;
                height: auto;
            }
        }

    } //error
    footer {

        .blocFooter {

            .footerInfo {

                h3 {
                    font-size: 1em;
                }

                ul {

                    li {

                        a {
                            font-size: 1em;
                        }

                        a:hover {
                            color: orange;
                        }
                    }
                }

                .fExplorer {
                    width: calc((100% - 3em) / 4);
                }

                .fInfo {
                    width: calc((100% - 3em) / 4);
                }

                .fContact {
                    width: calc((100% - 3em) / 4);
                }

                .fFollow {
                    width: calc((100% - 3em) / 4);
                }
            }
        }

        .copyright {
            font-size: small;
        }

        .footerEnd {
            font-size: small;
        }
    }
}
