@media screen and (min-width: 480px) and (max-width: 960px) {
    header {

        nav {
            margin-right: 50px;
        }
    }

    .burger {

        .blocMenu {
            width: 40%;
            height: 40vh;
            border-left: 4px solid orange;
            border-bottom: 4px solid orange;

            ul {
                gap: 0.5em;

                li {
                    font-size: 0.7em;
                }
            }
        }
    }

    .container {

        .grid-carte {

            article {
                width: calc((100% - 3em) / 3);

                div {

                    h2 {
                        font-size: 2em;
                    }

                    p {
                        font-size: 1.5em;
                    }

                    a {
                        font-size: 1.5em;
                    }
                }
            }
        }
    } // connexion page 
    .signup-page {
        display: flex;

        img {
            width: 40%;
            height: auto;
        }

        article {
            width: 60%;

            form {
                width: 100%;
                height: 100%;

                h2 {
                    text-align: center;
                    margin-bottom: 2em;
                }

                label {

                    .bob {
                        color: red;
                    }
                }

                input {
                    padding: 10px;
                    border: 0;
                }

                .buttonEmail {
                    text-align: center;
                    padding: 20px;
                    background-color: orange;
                    color: black;
                    border: 0;
                    border-radius: 0.8em;
                }

                .signin {
                    display: flex;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: smaller;
                    gap: 0.7em;

                    a {
                        color: black;
                    }
                }
            }
        }
    }

    .container-a-propos {
        padding: 3px;
        width: 95%;
        margin-left: 1.5%;
        margin-right: 2.5%;
        padding: 20px;

        .histoire {

            h2 {
                margin-left: 5em;
                margin-right: 5em;
            }
        }

        .galerie {
            margin-top: 1em;
            display: flex;
            flex-direction: row;
            gap: 1em;
            object-fit: cover;

            .burger1 {

                width: 68%;
                display: flex;
                flex-direction: column;


                img {
                    width: 100%;
                }
            }

            .flex-article {
                display: flex;
                flex-direction: column;
                gap: 0.5em;
                width: 32%;
                justify-content: space-between;

                article {
                    display: flex;
                    gap: 1em;

                }

                img {
                    gap: 1em;
                    width: 100%;
                }
            }
        }



        .mission {
            gap: 1em;
            h2 {
                margin-right: 5em;
                margin-left: 5em;
            }
        }
    }
    .error {
        div:last-of-type {
            margin-top: 4em;
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            img {
                width: 100%;
                height: auto;
            }
        }

    } //error
}
